<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:steelblue">
    <p>

        <ul>
            <!-- <% for(let i = 0; i<fruit.length;i++) { %>
                <li><%= fruit[i] %></li>
                <% } %> -->
                <!-- <% fruit.forEach(e => { %>
                    <li><%= e %></li>
                    <li>data value</li>

                    <% }); %> -->

        </ul>

        <!-- <% if (fruit) { %> -->
            <p>hai <% fruit %></p>
           <% fruit.forEach(element => { %>
            <h3><%= element %></h1><br>
            <% }); %> 
          <!-- <% } %> -->
    </p>
<!-- <% if (<%= bookvalues.country %> == "INDIA") { %>
                    <option value="INDIA" selected>india</option>
                    <%} else { %>
                      <option value="INDIA" >india</option>
                      <% } %>
                    <% if (<%= bookvalues.country %> == "USA") { %>
                      <option value="USA" selected >usa</option>
                      <%} else { %>
                        <option value="USA"  >usa</option>
                        <% } %>
                      <% if (<%= bookvalues.country %> == "INDIA") { %>
                        <option value="UK" selected >uk</option>
                        <%} else { %>
                          <option value="UK"  >uk</option>
                          <% } %>
                        <% if (<%= bookvalues.country %> == "INDIA") { %>
                          <option value="GERMANY" selected>Germany</option>
                          <%} else { %>
                            <option value="GERMANY" >Germany</option>
                            <% } %> -->
    
</body>
</html>